@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("/src/assets/fonts/san-francisco/SF-Pro-Display-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("/src/assets/fonts/san-francisco/SF-Pro-Display-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("/src/assets/fonts/san-francisco/SF-Pro-Text-Medium.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: bold;
  src: url("/src/assets/fonts/san-francisco/SF-Pro-Display-Bold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: lighter;
  src: url("/src/assets/fonts/san-francisco/SF-Pro-Text-Light.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("/src/assets/fonts/san-francisco/SF-Pro-Display-Black.otf") format("opentype");
  font-style: normal;
}
